/* ----------------- CSS STYLES ------------------ */

.main-container {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #3b3b3b; /* Change this to your desired background color */
  padding: 0px; /* Optional: Add some padding */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}




h1 {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}


h2 {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  color: #00ff08;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 45px 0;
}


ul {
  list-style: none;
  padding: 0;
}
li {
  background-color: #fff;
  color: #000000;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 30%;
  margin-right: 10px;
  box-sizing: border-box;
}
input[type="text"]:focus {
  outline: none; /* Removes the default focus outline */
  border: none;  /* Removes the border */
  box-sizing: border-box;
}

button {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: #00ff08;
  color: #000;
  border: 2px solid #000;
  border-radius: 10px;
}
button:hover {
  background-color: #45a049;
}


#WOForm {
  opacity: 0;
}


.list-item-container {
  display: flex;
  font-weight: bold;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Aligns items to the left and right */
  border: 1px solid #ccc; /* Adds a border around the container */
  background-color: #ffffff;
  padding: 10px; /* Adds some padding inside the border */
  margin-bottom: 10px; /* Adds some space between list items */
  border-radius: 10px; /* Optionally, round the corners */
  width: 100%; /* Ensure the container takes the full width */
  height: 25px; /* Sets a specific width for the container */
}





/* ---------------- Work Order Table Styling ---------------- */
.workorders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 12.5px;
}

.workorders-table th {
  background-color: #141b2d;
  border: none;
  padding: 10px;
  text-align: center;
  color:#FFF;
  font-weight: bold;
  font-size: 16px;
}
.workorders-table td {
  border: 1px solid #45a049;
  padding: 10px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
}

.workorders-table td:hover {
  cursor: pointer;
  color: #000;
  transform: scale(1.1);
}



.workorders-table tr {
  background-color: #1f2a40;
}

.workorders-table tr:hover {
  background-color: gray;
}


.WOAction-button {
  padding: 3px 3px;
  font-size: 12px;
  font-weight:900;
  display: inline-block;
  background-color: #fff;
  color:red;
  text-align: center;
  transition: transform 0.3s ease;

}

.WOAction-button:hover {
  background-color: #ff0000;
  transform: scale(1.1);
  color:black;
}


.workorder-functions {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Spread items apart */
  align-items: center; /* Align items vertically centered */
  width: 100%; /* Set the container width to 100% */
  max-width: 100%; /* Ensure full width of parent element */
  margin: 0 auto; /* Optional: Center the container horizontally */
  padding: 10px; /* Optional: Add some padding */
}

.WO-SearchBox {
  flex-grow: 1; /* Take up remaining space */
  padding: 10px; /* Add padding inside the text box */
  font-size: 16px; /* Font size */
  border: 1px solid #ccc; /* Border */
  border-radius: 5px; /* Rounded corners */
  margin-right: 20px; /* Add space between text box and button */

}

.add-work-order-button {
  padding: 10px 20px; /* Add padding inside the button */
  font-size: 16px; /* Font size */
  background: linear-gradient(135deg, #4CAF50, #45a049); /* Gradient background */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
}

.add-work-order-button:hover {
  background: linear-gradient(135deg, #45a049, #4CAF50); /* Hover effect */
}



/* ----------------- END Work Order Table Styling ---------------- */


/* ---------------- Start Work Order Modal Styling ---------------- */

/* Modal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 30px; /* Increase padding for more spacing inside the modal */
  border-radius: 10px; /* Adjust border radius if needed */
  width: 70%; /* Set width */
  height: 70%; /* Increase height */
  max-width: 1000px; /* Set a maximum width */
  max-height: 80%; /* Increase the maximum height */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scroll if content overflows */
  margin-left: calc((100vw - 70%) / 2 + 280px); /* Center between sidebar and right edge */
}



.modal-h2 {
  font-weight: bold;
  color: #000;
}

/* Container for the form fields */
.modal-content .form-field {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  margin-bottom: 15px;
}

.modal-content label {
  width: 30%; /* Adjust width as needed */
  margin-right: 10px;
  font-family: 'Arial', sans-serif; /* Change to your desired font */
  font-size: 16px; /* Change font size as needed */
  font-weight: bold;
  vertical-align: top;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 70%; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical; /* Allow vertical resizing */
  font-family: 'Arial', sans-serif; /* Change to your desired font */
  font-size: 16px; /* Change font size as needed */
}

/* Hide the scrollbar */
.modal-content::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Optional: make scrollbar transparent */
}

.modal-content {
  -ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer */
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  margin-top: 20px; /* Add margin at the top if needed */
}

.modal-content button {
  padding: 10px;
  margin-left: 10px; /* Add margin between buttons */
  font-size: 15px;
  cursor: pointer;
  width: 250px;
  background-color: #00ff08;
  color: #000;
  border: none;
  border-radius: 5px;
}

.modal-content button:hover {
  background-color:rgb(92, 182, 74);
}




/* ---------------- END Work Order Modal Styling ---------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 30px; /* Increase padding for more spacing inside the modal */
  border-radius: 10px; /* Adjust border radius if needed */
  width: 70%; /* Set width */
  height: 70%; /* Set height */
  max-width: 1000px; /* Set a maximum width */
  max-height: 80%; /* Set a maximum height */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scroll if content overflows */
}

.large-modal {
  width: 80%; /* Increase width for large modal */
  height: 90%; /* Increase height for large modal */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  margin-top: 20px; /* Add margin at the top if needed */
}

.modal-content button {
  padding: 10px;
  margin-left: 10px; /* Add margin between buttons */
  font-size: 15px;
  cursor: pointer;
  background-color: #00ff08;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
}

.modal-content .form-field {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  margin-bottom: 15px;
}

.modal-content label {
  width: 30%; /* Adjust width as needed */
  margin-right: 10px;
  font-family: 'Arial', sans-serif; /* Change to your desired font */
  font-size: 16px; /* Change font size as needed */
  vertical-align: top; /* Align the label with the top of the input box */
}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 70%; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical; /* Allow vertical resizing */
  font-family: 'Arial', sans-serif; /* Change to your desired font */
  font-size: 16px; /* Change font size as needed */
}



/* ---------------- START LOGINFORM Styling ---------------- */


.LoginForm-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #2C3E50;
}


.Logo-Container {
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.Login-Logo {
  width: 50px; /* Adjust the width as needed */
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.Login-Input {
  width: 280px;
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
}

.Input-Wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.Login-Button {
  width: 320px;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Login-Button:hover {
  background-color: #45a049;
}


.Register-Button {
  width: 220px;
  padding: 10px;
  font-size: 16px;
  background-color: #0866ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.Register-Button:hover {
  background-color: #4267b2;
}


.Login-Seperator {
  width: 100%; /* Full width of the parent container */
  height: 1px; /* Height of the line */
  background-color: #ccc; /* Color of the line */
  margin: 20px 0; /* Margin to add space around the line */
}


.Login-ForgotPassword {
  margin: 0;
  padding: 0;
  color: #0084ff;
}

.Login-ForgotPassword:hover {
  cursor: pointer;
  text-decoration: underline;
}



/* ---------------- END LOGIN FORM Styling ---------------- */


/* ---------------- START REGISTER FORM Styling ---------------- */


/* Container for the registration form */
.RegisterForm-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width to center on the page */
}


.Register-GoBack {
  background-color: transparent;
  color: red;
  border-radius: 100%;
  border: 1px solid #000;
}

.Register-GoBack:hover {
  cursor: pointer;
  background-color: red;
  color: #000;
  scale:1.2;

}


.RegisterHeader {
  font-weight: bold;
  font-size: 28px;
  color:#000;
  border-bottom: 1px solid #f0ecec;
}



/* Styling for the registration form */
.RegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px; /* Limit the width to a reasonable size */
}

/* More specific selector to override global input styles */
.RegisterForm .Register-Input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding is included in width */
}

/* Styling for the registration button */
.RegisterForm .Register-Button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: linear-gradient(135deg, #4CAF50, #45a049);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for the registration button */
.RegisterForm .Register-Button:hover {
  background: linear-gradient(135deg, #45a049, #4CAF50);
}


/* ---------------- END REGISTER FORM Styling ---------------- */ 

/* ---------------- START Builing Landing Styling ---------------- */

.building-landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust the gap as needed */
}

.customers-heading {
  font-family: 'Arial', sans-serif; /* Change to your desired font */
  font-size: 100px; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
}
/* ---------------- END Builing Landing Styling ---------------- */