/* 

COLORS

PRIMARY: #00ff08 (Green)
SECONDARY: #1f2a40 (Blueish Gray)
BACKGROUND: #141b2d (Deep Blue)

 */


/* ----------------- CSS STYLES ------------------ */

.main-container {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #3b3b3b; /* Change this to your desired background color */
  padding: 0px; /* Optional: Add some padding */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}






h1 {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 100px 5%;
    text-align: left;
    
}


h2 {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  color: #00ff08;
  font-size: 12px;
  font-weight: 900;
  margin: 0 0 45px 0;
}


ul {
  list-style: none;
  padding: 0;
}
li {
  background-color: #fff;
  color: #000000;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 30%;
  margin-right: 10px;
  box-sizing: border-box;
}
input[type="text"]:focus {
  outline: none; /* Removes the default focus outline */
  border: none;  /* Removes the border */
  box-sizing: border-box;
}

button {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: #00ff08;
  color: #000;
  border: 2px solid #000;
  border-radius: 10px;
}
button:hover {
  background-color: #45a049;
}


.list-item-container {
  display: flex;
  font-weight: bold;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Aligns items to the left and right */
  border: 1px solid #ccc; /* Adds a border around the container */
  background-color: #ffffff;
  padding: 10px; /* Adds some padding inside the border */
  margin-bottom: 10px; /* Adds some space between list items */
  border-radius: 10px; /* Optionally, round the corners */
  width: 100%; /* Ensure the container takes the full width */
  height: 25px; /* Sets a specific width for the container */
}


/* ---------------- START SCROLL BAR HIDE ---------------- */

.table-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
  /* other styles remain the same */
}

.hide-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* ---------------- END SCROLL BAR HIDE ---------------- */


/* ---------------- START DASHBOARD Styling ---------------- */


.dashboard-container {
  overflow: "hidden"
}

.dashboard-header {
  font-size: 3rem !important; /* Smaller font size for header */
  color: #ffffff !important; /* Set the header text color to white */
  font-family: 'Source Sans Pro', sans-serif !important; /* Add the custom font */
}

.dashboard-subheader {
  font-size: 1rem !important;  /* Smaller font size for subheader */
  margin-bottom: 24px !important;
  color: #00ff08 !important; /* Set the subheader text color to white */
  font-family: 'Source Sans Pro', sans-serif !important; /* Add the custom font */
}

.dashboard-paper {
  padding: 16px !important;
  background-color: #1f2a40 !important; /* Set the card color to match the theme */
  color: #ffffff !important; /* Set the paper text color to white */
  font-size: 1rem !important; /* Smaller font size for paper content */
  border: 1px solid #2a3f54 !important; /* Optional: Add a border for contrast */
  font-family: 'Source Sans Pro', sans-serif !important; /* Add the custom font */
}



/* ---------------- END DASHBOARD Styling ---------------- */

/* ---------------- START Top Icons Styling ---------------- */


/* TopIcons.css */
.top-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  position: relative;
  z-index: 1000;
  top: 0;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 2px;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-image {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.icons-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.settings-icon,
.fullscreen-icon {
  color: inherit;
  transition: color 0.3s ease;
}

.settings-icon:hover,
.fullscreen-icon:hover {
  color: #00ff00; /* Change to your desired hover color */
}

.icon-button {
  color: inherit;
}

.icon-button:hover {
  color: #00ff00; /* Change to your desired hover color */
}



/* ---------------- END Top Icons Styling ---------------- */



/* ---------------- START Work Order Table Styling ---------------- */

/* Styling for the actual rendered table */
.main-table-container{
  box-shadow:0px 4px 6px rgba(0,0,0,0.4);
  padding: 30px 0;
  margin: 0 auto;
  width: 95%;
  background-color: #2a3549;
  border-radius: 10px;
}

/* Styling for the actual rendered table */
.main-table {
  box-shadow:0px 4px 6px rgba(0,0,0,0.4);
  border-radius: 10px;
  background-color: #2a3549; /* Set the table background color */
  width: 95%;
  border-collapse: collapse;
  margin: 15px auto;
  font-size: 12.5px;
  overflow-y: auto;
}


.tabs-container {
  width: 90%;
  margin: 0 auto;
}


.main-table th {
  border-bottom: solid 1px #00ff08;
  padding: 10px;
  text-align: center;
  color:lightgray;
  font-weight: 200;
  font-size: 12px;
  padding: 20px;
  cursor: pointer;
}

.main-table th:hover {
  color: #00ff00;
  cursor: pointer;
  transform: scale(1.1);
  font-weight: bold;
}


.main-table td {
  padding: 10px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  border-bottom: solid 1px rgba(0, 255, 8, 0.2);
}

.main-table td:hover {
  cursor: pointer;
  color: #000;
  transform: scale(1.1);
}



.main-table tr:hover {
  border-radius:80%;
  background-color: gray;
}


.WOAction-button-delete {
  padding: 3px 3px;
  font-size: 10px;
  height: 30px;
  width: 40px;
  font-weight:900;
  display: inline-block;
  background-color: red;
  color:#FFF;
  text-align: center;
  transition: transform 0.3s ease;
  margin: 0 0px 0 4px;
  border: none;
  border-radius: 4px;
}


.WOAction-button-edit {
  padding: 3px 3px;
  font-size: 10px;
  height: 30px;
  width: 40px;
  font-weight:900;
  display: inline-block;
  background-color: blue;
  color:#FFF;
  text-align: center;
  transition: transform 0.3s ease;
  margin: 0 0px 0 4px;
  border: none;
  border-radius: 4px;
}

.WOAction-button-edit:hover {
  background-color: blue;
  transform: scale(1.1);
  color:black;
}

.WOAction-button-delete:hover {
  background-color: red;
  transform: scale(1.1);
  color:black;
}


.main-table-functions {
  display: flex; /* Use flexbox layout */
  justify-content: space-between;
  width: 90%; /* Set the container width to 100% */
  max-width: 100%; /* Ensure full width of parent element */
  margin: 0 auto; /* Optional: Center the container horizontally */
  padding: 10px 0px; /* Optional: Add some padding */
  overflow: "hidden";
}




.add-button {
  padding: 10px 20px !important; /* Add padding inside the button */
  font-size: 14px !important; /* Font size */
  background: linear-gradient(135deg, #4CAF50, #45a049) !important; /* Gradient background */
  color: white !important; /* Text color */
  border: none !important; /* Remove border */
  border-radius: 5px !important; /* Rounded corners */
  cursor: pointer !important; /* Pointer cursor */
}

.add-button:hover {
  background : linear-gradient(135deg, #45a049, #4CAF50) !important; /* Hover effect */
}


.page-header {
  margin: 0 auto;
  text-align: left;
  width: 90%;
}

.page-subheader {
  margin: 0 auto 40px auto;
  text-align: left;
  letter-spacing: 1px;;
  width: 90%;
}




/* ----------------- END Work Order Table Styling ---------------- */


/* ---------------- Start Work Order Modal Styling ---------------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; /* Default: center items horizontally */
  align-items: center; /* Center items vertically */
  z-index: 1000;
}

.modal-overlay.align-left {
  justify-content: flex-start; /* Align items to the left */
}

.modal-content {
  background: #fff;
  padding: 30px; /* Increase padding for more spacing inside the modal */
  border-radius: 10px; /* Adjust border radius if needed */
  width: 70%; /* Set width */
  height: 70%; /* Set height */
  max-width: 1000px; /* Set a maximum width */
  max-height: 80%; /* Set a maximum height */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scroll if content overflows */
  margin-left: calc((100vw - 100%) / 2 + 280px); /* Center between sidebar and right edge */
  -ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer */
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

/* Large Modal */
.large-modal {
  width: 80%; /* Increase width for large modal */
  height: 90%; /* Increase height for large modal */
}

.modal-h2 {
  font-weight: bold;
  color: #000;
}

/* Container for the form fields */
.modal-content .form-field {
  color: #000;
  display: flex;
  align-items: flex-start; /* Align items at the top */
  margin-bottom: 15px;
}

.modal-content label {
  width: 30%; /* Adjust width as needed */
  margin-right: 10px;
  font-family: 'Arial', sans-serif; /* Change to your desired font */
  font-size: 16px; /* Change font size as needed */
  font-weight: bold;
  vertical-align: top;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 70%; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical; /* Allow vertical resizing */
  font-family: 'Arial', sans-serif; /* Change to your desired font */
  font-size: 16px; /* Change font size as needed */
}

/* Hide the scrollbar */
.modal-content::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Optional: make scrollbar transparent */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  margin-top: 20px; /* Add margin at the top if needed */
}

.modal-content button {
  padding: 10px;
  margin-left: 10px; /* Add margin between buttons */
  font-size: 15px;
  cursor: pointer;
  width: 250px;
  background-color: #00ff08;
  color: #000;
  border: none;
  border-radius: 5px;
}

.modal-content button:hover {
  background-color: rgb(92, 182, 74);
}



/* ---------------- END Work Order Modal Styling ---------------- */

/* ---------------- START Sidebar Styling ---------------- */

.profile-picture-sidebar {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
  border-radius: 50%;
}

.profile-picture-sidebar:hover {
  cursor: pointer;
  border: solid 3px #00ff08;
  border-color: #00ff08;
}


/* ---------------- END Sidebar Styling ---------------- */



/* ---------------- START LOGINFORM Styling ---------------- */


.LoginForm-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #2C3E50;
  padding-bottom: 100px; 
}


.Logo-Container {
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.Login-Logo {
  width: 50px; /* Adjust the width as needed */
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.Login-Input {
  width: 280px;
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
}

.Input-Wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.Login-Button {
  width: 320px;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Login-Button:hover {
  background-color: #45a049;
}


.Register-Button {
  width: 220px;
  padding: 10px;
  font-size: 16px;
  background-color: #0866ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.Register-Button:hover {
  background-color: #4267b2;
}


.Login-Seperator {
  width: 100%; /* Full width of the parent container */
  height: 1px; /* Height of the line */
  background-color: #ccc; /* Color of the line */
  margin: 20px 0; /* Margin to add space around the line */
}


.Login-ForgotPassword {
  margin: 0;
  padding: 0;
  color: #0084ff;
}

.Login-ForgotPassword:hover {
  cursor: pointer;
  text-decoration: underline;
}



/* ---------------- END LOGIN FORM Styling ---------------- */


/* ---------------- START REGISTER FORM Styling ---------------- */


/* Container for the registration form */
.RegisterForm-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width to center on the page */
}


.Register-GoBack {
  background-color: transparent;
  color: red;
  border-radius: 100%;
  border: 1px solid #000;
}

.Register-GoBack:hover {
  cursor: pointer;
  background-color: red;
  color: #000;
  scale:1.2;

}


.RegisterHeader {
  font-weight: bold;
  font-size: 28px;
  color:#000;
  border-bottom: 1px solid #f0ecec;
}



/* Styling for the registration form */
.RegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px; /* Limit the width to a reasonable size */
}

/* More specific selector to override global input styles */
.RegisterForm .Register-Input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding is included in width */
}

/* Styling for the registration button */
.RegisterForm .Register-Button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: linear-gradient(135deg, #4CAF50, #45a049);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for the registration button */
.RegisterForm .Register-Button:hover {
  background: linear-gradient(135deg, #45a049, #4CAF50);
}


/* ---------------- END REGISTER FORM Styling ---------------- */ 

/* ---------------- START Builing Landing Styling ---------------- */

.building-landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust the gap as needed */
}

.customers-heading {
  font-family: 'Arial', sans-serif; /* Change to your desired font */
  font-size: 100px; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
}
/* ---------------- END Builing Landing Styling ---------------- */

